* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;

    min-width: 600px;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 5vh;
    margin: 0;
    padding: 0.5em;
}

header h1{
    margin: 0;
    padding: 0;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main > * {
    margin: auto;
    background: gray;
}

main > #form-container {
    border-radius: 10px;
    padding: 1em;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

main > #form-container > #register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > #form-container > #register-form input {
    margin-left: 10px;
}

main > #form-container > #register-form #input-frPassword, #input-frEmail, #input-frName {
    float: right;
}

main > #form-container > #register-form .errField {
    background: rgba(255, 27, 27, 0.5);
}

main > #form-container > #register-form input:disabled {
    background: gray;
    opacity: 0.6;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 5vh;
}

footer h3{
    padding: 0;
    padding: 0 1em;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    float: left;
    margin: 0 1em;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: none;
    color: gray;
}

footer ul li a:click {
    text-decoration: none;
}